.logo {
    height: 4.25rem;
    margin-left: 4.25rem;
}

// Search
.search {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: red;
    &__input {

        font-family: inherit;
        font-size: inherit;
        color: var(--color-gray-dark-1);
        width: 90%;
        border: none;
        background-color:  var(--color-gray-light-2);
        padding: .8rem 1.7rem;
        border-radius: 10rem;
        margin-right: -3.25rem;
        overflow: hidden;
        transition: all .3s;
        outline: var(--color-gray-dark-3) solid .5px;

        &:focus {
            width: 100%;
            outline: var(--color-primary-light) solid .5px;
            background-color: var(--color-gray-light-3);
        }
       

    }
    &__input:focus + &__button {
        background-color: var(--color-gray-light-3);
    }
    &__button {
        cursor: pointer;
        border: none;
        background-color:  var(--color-gray-light-2);
        // &:focus {        //this broken accesibility
        //     outline: none;
        // } /

        &:active {
            transform: translateY(2px);
        }
    }
    &__icon {
        height: 2rem;
        width: 2rem;
    }
}
// User Nav
.user-nav {
    // background-color: goldenrod;
    // color: var(--color-gray-light-1);
    display: flex;
    align-self: stretch;

    & > * {
        padding: 0 2rem;
        display: flex;
        align-items: center;
    }
    & > *:hover {
        color: var(--color-gray-light-1);
        cursor: pointer;
        background-color: var(--color-primary);
    }
    & > *:active {
        background-color: var(--color-primary-dark);
    }
    &__icon-box {
        position: relative;
        // background-color: blue;
        color: var(--color-primary);
       
    }
    &__icon {
        height: 2.8rem;
        width: 2.8rem;
        fill: currentColor;

    }
    &__notification {
        position: absolute;
        top: 1.3rem;
        right: 1.3rem;
        color: var(--color-gray-light-1);
        background-color: var(--color-gray-dark-1);
        border-radius: 10rem;
        height: 1.75rem;
        padding: 1rem;
        width: 1.75rem;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
 
    &__user-photo {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        margin-right: 1.6rem;
        border: 2px solid currentColor;

    }
}
// Sidenav
.side-nav {
    margin-top: 5rem;
    list-style: none;
    padding: 0;
    &__item {
        // background-color: white;
        color: var(--color-gray-light-3);
        position: relative;
        // color: red;
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            background-color: var(--color-primary-light);
            width: 3px;
            transform: scaleY(0);
            height: 100%;
            transition: transform .2s,
                        width .4s cubic-bezier(1,0,0,1) .2s,
                        background-color .1s
        }
      
        &:hover::before {
            width: 100%;
            transform: scaleY(1);
        }

        &:active::before {
            background-color: var(--color-primary-dark);
        }
    }
    &__link {

        &:link,
        &:visited {
            position: relative;
            z-index: 2;
            color: inherit;
            text-decoration: none;
            // text-transform: uppercase;
            display: flex;
            align-items: center;
            // background-color: blueviolet; 
            width: 100%;
            padding: 1.5rem 3rem;
        }
       

    }
    &__icon {
        width: 2.8rem;
        height: 2.8rem;
        margin-right: 1.5rem;
        fill: currentColor;
    }

}
// Legal Text 
.legal {
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
}