.container {
    width: 75%;
    margin: 8rem auto;
    min-height: 100vh;
    background-color: var(--color-gray-light-1);
    box-shadow: var(--shadow);
}

.header {
    height: 7rem;
    display: flex;
    font-size: 1.8rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-gray-light-1);
    // box-shadow: var(--shadow-header);
    border-bottom: var(--line);

}
.content {
    display: flex;
}
.sidebar {
    flex: 0 0 22%;
    color: var(--color-gray-light-4);
    // height: 100vh;
    background-color: var(--color-gray-dark-1);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.hotel-view {
    flex: 1;
    // Testing
    min-height: 100vh;
    background-color: #fff;
}
.detail {
    display: flex;
    background-color: var(--color-gray-light-1);
    padding: 3rem;
    border-bottom: var(--line);

}
.description {
    font-size: 1.6rem;
    flex: 0 0 60%;
    margin-right: 3rem;
    padding: 2rem;
    box-shadow: var(--shadow-light);
}
.user-reviews { 
    flex: 1;
    background-color: burlywood;
}
