.container {
    width: 100%;
    // margin: 8rem auto;
    // Testing height
    // min-height: 100vh;
    background-color: var(--color-gray-light-1);
    box-shadow: var(--shadow);

    @media only screen and (max-width: $bp-1100){
            max-width: 100%;
            width: 100%;
            margin: 0;
    }
}

.header {
    height: 7rem;
    display: flex;
    font-size: 1.8rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-gray-light-1);
    // box-shadow: var(--shadow-header);
    border-bottom: var(--line);
    @media only screen and (max-width: $bp-550){
        // background-color: blue;
        flex-wrap: wrap;
        height: 14rem;
        padding-bottom: 3rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }

}
.content {
    display: flex;
    @media only screen and (max-width: $bp-700){
        flex-direction: column;
    }
}
.sidebar {
    flex: 0 0 22%;
    color: var(--color-gray-light-4);
    // height: 100vh;
    background-color: var(--color-gray-dark-1);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.hotel-view {
    flex: 1;
    // Testing
    // min-height: 100vh;
    background-color: #fff;
}
.detail {
    @media only screen and (max-width: $bp-550){
        padding: 1.5rem;
        flex-direction: column;

    }
    
    display: flex;
    font-size: 1.6rem;
    background-color: #fff;
    padding: 3rem;
    border-bottom: var(--line);

}
.description {
    @media only screen and (max-width: $bp-550){
        padding: 1rem;
        margin-right: 0;
        margin-bottom: 2rem;
    }   
   
    
    flex: 0 0 60%;
    margin-right: 3rem;
    padding: 2rem;
    box-shadow: var(--shadow-light);
}
.user-reviews { 
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}
