.container {
    width: 75%;
    margin: 8rem auto;
    min-height: 100vh;
    background-color: var(--color-gray-light-1);
    box-shadow: var(--shadow-big);
}

.header {
    height: 7rem;
    display: flex;
    font-size: 1.8rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-gray-light-1);
    box-shadow: var(--shadow-header);
}
.content {
    display: flex;
    
    .sidebar {
        flex: 0 0 22%;
        color: var(--color-gray-light-4);
        // height: 100vh;
        background-color: var(--color-gray-dark-1);
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
    .hotel-view {
        flex: 1;
        // Testing
        min-height: 100vh;
        background-color: orangered;
    }
}